body {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 11px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: hwb(143 10% 67%); /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #5988FF; /* Kolor nagłówka */
    font-size: 24px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
h2 {
    color: #862424; /* Kolor nagłówka */
    font-size: 18px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}
